@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
p,span{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;   
    position: relative;
}

.navbar{
    width: 21%;
    padding: 0px 20px;
    position: fixed;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.heading img{
    width: 30px;
    height: 30px;
}
.heading p{
    padding-left: 10px;
    font-size: 26px;
    font-weight: 600;
}

.bar{
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    height: 50px;
    padding-right:80px ;
}
.bar-img{
    width: 25px;
    height: 25px;
    padding-right: 20px;
}
.merge{
    display: flex;
    align-items: center;
}

.right{
    width: 79%;
    background-color: #FAFBFF;
    padding: 20px 60px;
    margin-left: 21%;
    overflow: hidden;
}
.ender{
    display: flex;
    justify-content: end;
}
.first-search{
    display: flex;
    align-items: center;
    background-color: white;
    width: 200px;
    padding: 0px 20px;
    height: 50px;
    border-radius: 30px;
}
.first-search p{
    padding-left: 10px;
}
.rectangle{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    border-radius: 30px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    overflow: hidden;
    padding: 20px;
}
.nav-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: none;

}
.nav-head-img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.second-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.second-total-count{
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.second-total-comment{
    margin: 0;
    font-size: 15px;
    color:  rgba(93, 234, 243, 1);

}
.profiles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profile-img{
    padding: 20px;
    background: linear-gradient(201.18deg, #D3FFE7 3.14%, #EFFFF6 86.04%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-profile-img{
    background: linear-gradient(201.18deg, #DBD3FF 3.14%, #F7EFFF 86.04%);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: none;
    padding: 8px;
}

.profile-img{
    width: 30px;
    height: 30px;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.comment-count{
    display: flex;
    align-items: center;
}
.comment{
    font-size: 15px;
    width: 101px;
    padding: 0px 10px;  
}
.count{
    font-size: 40px;
    font-weight: 600;
}




.table{
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    padding: 30px;
}
.table-head, 
.table-top,
.user-active,
.user-inactive{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.table-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}
.veiw{
    display: none;
}
.search,.sort{
    display: flex;
    align-items: center;
    width: 200px;
    background: rgba(249, 251, 255, 1);
    padding: 0px 20px;
    border-radius: 50px;
    height: 40px;
}
.search p{
    padding-left:10px ;
}
.sort span{
    font-weight: 600;
}
.table-top,.user-active,.user-inactive{
    border-bottom: 1.5px solid rgba(238, 238, 238, 1);
    font-size: 14px;
    font-weight: 500;
}
.table-top{
    color:rgba(181, 183, 192, 1);
}
.current{
    font-size: 25px;
    font-weight: 600;
}
.number{
    background: rgba(27, 31, 38, 0.72);
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 12px;
    display: none;
}
.name{
    width: 130px;
    display: flex;
    align-items: center;
}

.adno{
    width: 30px;
}
.class{
    width: 50px;
}
.email{
    width: 150px;
}
.box{
    display: none;
}
.date{
    width: 100px;
}
.status{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-active .status{
    color:  rgba(0, 135, 103, 1);
    background-color: rgba(22, 192, 152, 0.38);
    border-radius: 10px;
    height: 30px;
    border: 1px solid rgba(0, 176, 135, 1)
}
.user-inactive .status{
    color:  rgba(223, 4, 4, 1);
    background: rgba(255, 197, 197, 1);
    border-radius: 10px;
    height: 30px;
    border: 1px solid rgba(223, 4, 4, 1);
}
.curved-box{
    display: none;
    position: relative;
}

.arch{
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.2);
    display: none;
}
.permission{
    padding: 10px 0px;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(76,58,157);
    border-radius: 50%;
    font-size: 10px;
    color: white;
}
.arch p{
margin: 0;
}
.round{
    height: 120px;
}
.user-bottom{
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 6px;
    letter-spacing: -1%;
} 
.user-bottom:hover img{
     filter: brightness(0) saturate(100%) invert(17%) sepia(41%) saturate(576%) hue-rotate(205deg);
}   
.user-bottom:hover p{
   color: rgba(76, 58, 157, 1);
}

@media screen and (max-width:1200px) {
    .bar p{
        display: none;
    }
    .merge img{
        display: block;
    }
    .icon{
        display: none;
    }
    .text{
        display: none;
    }
    .navbar{
        width: 20px;
    }
    .right{
        width: 100%;
        margin-left: 20px;
    }
}
@media screen and (max-width:1000px) {
    .navbar{
        display: none;
    }    
    .right{
        width: 100%;
        margin-left: 0px;
        padding: 20px;
    }
    .first-search{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .table-head{
        flex-direction: column;
    }
    .table{
        margin-top: 30px;
    }
}
@media screen and (max-width:800px) {
    .rectangle{
        padding: 20px;
        align-items: center;
    }
    .profiles{
        flex-direction: column;
    }
    .profile{
        justify-content: space-between;
        margin-bottom: 15px;
        width: 250px;
    }
    .profile p{
        margin: 0;
    }
    .comment-count{
        width: 200px;
        justify-content: space-between;
    }
    .email{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .table-right{
        flex-direction: column;
        height: 90px;
    }
}
@media screen and (max-width:600px) {
    .adno{
        display: none;
    }
    .class{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .date{
        display: none;
    }
}
@media screen and (max-width:480px) {
    .right{
        padding: 0px;
        background-color: white;
        position: relative;
    }
    .first-search{
        display: none;
    }
    .rectangle{
        padding: 20px 10px;
        flex-direction: column;
        height: 260px;
        margin-top: 0px;
        background: linear-gradient(to bottom, rgba(86, 66, 165, 1) 240px, rgb(255, 255, 255) 20px);
        color: white;
        border-radius: 0px;
        justify-content: space-between;
        box-shadow: none;
    }
    .nav-head{
        display: flex;
    }
    .second-total{
        display: flex;
    }
    .profile p{
        margin: 0;
    }
    .profiles{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .profile{
        flex-direction: column;
        background-color: white;
        padding:15px 10px;
        width: 40%;
        color: black;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        align-items: start;
        margin-bottom: 0px;
        height: 60px;

    }
    .profile-img{
        display: none;
    }
    .second-profile-img{
        display: flex;
        box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.15);
        margin-top: -10px;
    }
    .second-profile-img img{
        width: 15px;
        height: 15px;
    }
    .comment-count{
        justify-content: space-between;
        width: 100%;
    }
    .comment{
        font-size: 12px;
        font-weight: 600;
        color: rgba(132, 127, 127, 1);
        padding: 0px;
        width: fit-content;
    }
    .count{
        font-size: 20px;
        font-weight: 600;
        color: rgba(86, 66, 165, 1);

    }


    .table{
        margin: 10px 0px 80px 0px;
        border-radius: 0px;
        box-shadow: none;
        padding: 10px;
        box-shadow: none;
    }
    .veiw{
        display: block;
        font-size: 15px;
        color: rgba(93, 234, 243, 1);

    }
    .table-head{
        flex-direction: row;
    }
    .current{
        font-size: 15px;
        font-weight: 700;
    }
    .table-right{
        display: none;
    }
    .table-top{
        display: none  ;
    }
    .name{
        overflow: hidden;
    }
    .number{
        display: flex;
        margin-right: 5px;
    }
    .status{
        display: none;
    }
    .date{
        display: block;
        width: fit-content;
    }
    .box{
        display: block;
    }

    .curved-box{
        display: block;
    }
    .arch{
        display: flex;
    }
    .total-amount{
        display: none;
    }
   
}
